/* 포카리스웨트 */
#popup {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
}

#popup>div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -700px;
    width: 1400px;
    height: 750px;
    background-color: #ffffff;
    z-index: 50;
}
#popup div{
    float: left;
}
/* 닫기버튼 */
#popup>.pop_button {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 96999;
    top: 130px;
    right: 220px;
    background: transparent;
}

#popup>.pop_button:before {
    transform: rotate(45deg);
    position: absolute;
    content: '';
    height: 30px;
    width: 3px;
    background-color: #f9b416;
    top: 0px;
}

#popup>.pop_button:after {
    transform: rotate(-45deg);
    background: transparent;
    position: absolute;
    content: '';
    height: 30px;
    width: 3px;
    background-color: #f9b416;
    top: 0px;
}


#popup>div .title {
    width: 40%;
}

#popup>div .title h4 {
    font-size: 3em;
    margin-top: 70px;
    margin-left: 20px;
    color: #1356ad;
}

#popup>div .title p {
    font-size: 2.5em;
    margin-left: 20px;
    color: #656565;
}

#popup>div .title .concept dt {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 20px;
}

#popup>div .title .concept dd {
    font-size: 1.1em;
    margin-top: 10px;
    margin-left: 20px;
}

#popup>div .title .concept dd img {
    margin: 0 5px;
}

#popup>div .title .concept .tools img {
    width: 50px;
}

#popup>div .img_box {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 60%;
    height: 750px;
}

#popup>div .img_box img {
    width: 830px;
}
#popup .full_image{
    width: 60%;
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#popup .full_image img{
    width: 830px;
}
#popup:nth-child(4) .full_image img{
    padding-top: 60px;
}
#popup:nth-child(10) .full_image img{
    padding-top: 110px;
}

#popup:nth-child(3) .title h4{color: #458acf;}
#popup:nth-child(4) .title h4{color: #5b4e8e;}
#popup:nth-child(5) .title h4{color: #fbd4e6;}
#popup:nth-child(6) .title h4{color: #f7751f;}
#popup:nth-child(7) .title h4{color: #d7eaf9;}
#popup:nth-child(8) .title h4{color: #;}
#popup:nth-child(9) .title h4{color: #546ba1;}
#popup:nth-child(10) .title h4{color: #696989;}
#popup:nth-child(11) .title h4{color: #1f5155;}
#popup:nth-child(12) .title h4{color: #;}