*{margin: 0; padding: 0; border: 0;}

body{font-family: '맑은 고딕', '고딕', '굴림', sans-serif;
}
	
p{margin-top: 5px; margin-bottom: 15px;}
	
html{overflow-y: scroll;}
#FAQ{width: 800px; margin: 0 auto; margin-top: 100px; border-bottom: 2px solid #555; padding-bottom: 20px;}
span{font-size: 1.7em;}

.btn-search{padding: 9px 20px; border: none; text-align: center; background-color: #5f62ff;/*  background:url(../images/btn2.png) */; color: #ffffff; font-weight: bold; float: right;}
.searchBox{width: 200px; height: 35px; border: 1px solid #e5e5e5; float: right;}
select{width: 70px; height: 37px; float: right; border: 1px solid #e5e5e5;}
fieldset{border: none; margin-top: 30px;}

#box1{margin: 0 auto; width: 800px;}
.objectTitle{border-bottom: 1px dashed #000000; text-align: center; padding: 20px 0px;}

.noT{width: 50px;}
.titleT{width: 450px; margin: 0 10px;}
.dateT{width: 110px;}
.visitT{width: 110px;}
.fileT{width: 50px;}


.td{text-align: center;  padding: 20px 0px;}
.no{width: 50px;}
.title{width: 450px; margin: 0 10px; text-align: left; cursor: pointer; font-weight: bold;}
.date{width: 110px;}
.visit{width: 110px; }
.file{width: 50px;}


.title:hover{font-weight: bold; color: #5f62ff;}



.content_wrap{line-height: auto; height: auto; width: 760px; text-align: left; display: block; padding: 20px; transition-duration: 1s; background: #f4f5f9; text-align: justify;}

.fl{float: left;}
.cl{clear: left;}
.cf:after{content:''; display:block; clear:both;}


.boardContent{border-bottom: 1px solid #cfcfcf;}
.boardContent input{display: none;}



input[type=checkbox]:checked ~ div.content_wrap{display: none; }
.content{display: inline; height: 400px; font-size: 15px;   line-height: auto;}



/* foot */

div #foot{width: 100%; height: 100px; margin-top: 30px; text-align: center;}
.next{font-size: 1em; padding: 5px; color: black;}
a:link{text-decoration: none; color: #000000;}
a:hover{color: #5f62ff;}

